.input, button{
width: 100%;
height: 40px;
position: relative;
padding: 10px;
border: 0.1px solid gold;
}

button{
background-color: silver;
border: none;
}
.wrapper {
position: relative;
transform: skewY(-14deg);
}
.wrapper li, button{
position: relative;

list-style: none;
width: 200px;
z-index: var(--i);
transition: 0.3s;
color:white;
}

.wrapper li::before, button::before {
position: absolute;
background: #6d74e3;
content: '';
top: 0;
left: -40px;
width: 40px;
height: 40px;
transform-origin: right ;
transform: skewY(45deg);
transition: 0.3s;

}
.wrapper li:nth-child(1)::after, .wrapper li::after {
background-color: white; 
}
.wrapper li:nth-child(2)::after, .wrapper li::after {
background-color: #c2c5f3; 
}
.wrapper li:nth-child(3)::after, .wrapper li::after {
background-color: #989deb;

}
li .input {
outline: none;
border: none;
color: black;
}

li .input::placeholder {
color: black;
}

li:nth-child(1) .input {
background: #d8daf7;
}

li:nth-child(2) .input {
background:  #c2c5f3;
}


li:nth-child(3) .input {
background:#989deb  ;
}

li:nth-child(1) .input:focus {
    outline: none;
    border:  3.5px solid #d8daf7;
}

li:nth-child(2) .input:focus {
    outline: none;
    border:  3.5px solid #c2c5f3;
}

li:nth-child(3) .input:focus {
outline: none;
border: 3.5px solid #989deb ;
}
.wrapper li:hover, button:hover {
transform: translateX(-20px);
}

button:hover, button:hover ::before, button:hover{
background: #575cb5;
}
button:active{
    transform: translateX(0px);
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #575cb5;
}
h1{
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.Présentation{

    background-color: silver;
    color: white;
    border-radius: 10px;
    max-width: 700px;
    width: 90%;
    height: auto;
    padding: 1rem;
    margin: auto;
}   
.container{
.container {
      max-width: 1200px;
      margin: auto;
      padding: 2rem;
    }
}
 .search-bar {
      display: flex;
      gap: .5rem;
      margin-bottom: 1rem;
    }
    .search-bar input {
      flex: 1;
      padding: .5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .tags {
      display: flex;
      gap: .5rem;
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
    .Menu  {
      border: none;
      background:silver;
      padding: .3rem .8rem;
      border-radius: 20px;
      cursor: pointer;
      align-items: left;
      text-align: left;
    }

    .Menu active {
      background: #4f46e5;
      color: #fff;
    }
/* Enlève le fond UNIQUEMENT pour le bouton du menu (toggle) */
.navbar-toggler {
  background: transparent !important;
  border: none;
  box-shadow: none !important;
}

/* Empêche qu'il change de fond au clic */
.navbar-toggler:focus,
.navbar-toggler:active {
  background: transparent !important;
  box-shadow: none !important;
}

img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.form{
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: auto;
    background: #989deb;
    border-radius: 10px;
    padding: 10px;
    justify-content: top;
}
.form:hover{
    background: gold;
    color: white;
}