header {
    background-color: black;
    padding: 10px;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url(1.jpg);
    background-size: cover;
    height: 90vh;

}
footer {
    background-color: black;
    color: white;
    text-align: center;
}
html{
    background-color: black;
    background-image: url(1.jpg);
    

}
h1 {
    text-align: left;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 50px;
    margin-left: 20px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a:hover {
    background-color: gray;
    color: white;
}
img {
    width: 50%;
    
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    box-sizing: border-box;
}
option :hover{
    background-color: gray;
    display: flex;
    flex-direction: row;
    color: thistle;
}
select{
 
    color: white;
    background-color: black;
}

