
    .carousel {
      display: flex;
      align-items: center;
    }
    img {
      width: 300px;
      height: 200px;
      margin: 0 10px;
    }
    button {
      font-size: 24px;
      cursor: pointer;
    }
  